*{box-sizing: border-box;}
body {background-color: white;
    display: flex;    
    justify-content: center;}
.container{
    
    width: 960px;
    padding: 2em;
    margin: 2em;
    width: 100%;
    max-width: 960px;
    text-align: center;
}
/*estilos del nav*/
.nav-link {color: black;}
.nav-link:hover {
   color: rgb(145, 100, 122);}
.textodestacado {
    border: 1px solid rgb(163, 161, 161);
    padding: 10px; 
    display: inline-block;
    }

#film {
 text-align: center;
 margin: 1em;
}


  
 