*{box-sizing: border-box;}

.contenedor{
  width: 960px;
    padding-left: 1em;
    padding-right: 1em;
    
    width: 100%;
    max-width: 960px;
    text-align: center;
}
/*estilos del nav*/
.nav-link {color: black;}
.nav-link:hover {
   color: rgb(145, 100, 122);}
   /*estilos del foooter*/
footer a:link {
    color: rgb(145, 100, 122);;
}
footer a:hover{
    color: blueviolet;
}
/*h1 index*/
#tipografiaindex{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
  }



.tipografiah1  {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    
  }
  /*h1 galerias*/
 .tipografiagaleria{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /*h1 adicional y historia*/
 
  
.tipografiahiadi {
  font-family: "New Amsterdam", serif;
  font-weight: 400;
  font-style: normal;
}
 /*carrusel galerias*/
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    object-fit: cover;
   
      
  }


  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
    
  /*ESTILOS PARA MOBILE youtube*/
@media (max-width: 480px){
    iframe {
        width: 150px;
        height: 150px;
    }
}  
