*{box-sizing: border-box;}
body {background-color: white;
    display: flex;    
    justify-content: center;}
.container{
    width: 960px;
    padding: 2em;
    margin: 2em;
    width: 100%;
    max-width: 960px;
    text-align: center;
}
/*estilos del nav*/
.nav-link {color: black;}
.nav-link:hover {
   color: rgb(145, 100, 122);}
.navbar {
    justify-content: center;}
/* h1*/
h1{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
    margin: 1em;
}
/*texto inicio*/
#pinicio {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal }
/*img in inicio*/
img {margin: 1.5em;}
#textoindex, .textodestacado {border: 1px solid rgb(163, 161, 161);
    padding: 10px; 
    display: inline-block;}
/*texto historia*/
 .textohistoria  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
#film {
 text-align: center;
 margin: 1em;
}


  
 